a {
    padding: 1rem;
    background-color: #5454fc;
    border-radius: 0.5rem;
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: #3d3dc7;
}

p {
    font-size: 3rem;
    font-weight: 900;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
}