nav {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 1.5rem;
}

nav figure {
    font-size: 2rem;
}

nav .links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav .links li a {
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    transition: 0.2s color;
}

nav .links li a:hover {
    color: #5454fc;
}

nav .links li a.selected {
    background-color: #5454fc;
    border-radius: 0.5rem;
    color: white;
}